<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group col-md-10">
                <label class="sr-only" for="cityInput">Email address</label>
                <input type="text" class="form-control" id="cityInput" placeholder="Podaj miasto" #cityInput>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary " (click)="getWeather($event)">Pokaż pogodę</button>
            </div>
        </form>
    </div>
</div>